body {
  margin: 0;
  padding: 0;
}
header {
  background-color: #f4a261;
  padding: 20px;
  text-align: center;
  color: white;
}
footer {
  background-color: #fefae0;
  padding: 20px;
  display: flex;
}
.category {
  width: 100%;
}
.name_menu {
  width: 100%;
}
.first_menu {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.mon1 img {
  width: 300px;
}
.mon2 img {
  width: 300px;
}
.mon3 img {
  width: 300px;
}
.mon4 img {
  width: 300px;
}
